.home {
  & > .block {
    &#welcome {
      max-width: 450px;
      margin: 0 auto;
      text-align: center;
      .title {
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
}
